﻿@model eCommerce.Entity.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>
<h1>Are you sure you want to delete the ID = @Model.ID</h1>
<form method="post">
    <input type="hidden" value="@Model.ID"/>
    <button type="submit">Save</button>
</form>
<a href="/Category/Index">Go to List</a>

