﻿@model IEnumerable<eCommerce.Entity.Category>
@{
    ViewBag.Title = "Index";
}

<h2>List Of Categories</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
    </tr>
    @foreach(var items in Model)
    {
    <tr>
        <td>@items.ID</td>
        <td>@items.Name</td>
        <td>@items.Description</td>
    </tr>
    }
</table>
