﻿
@{
    ViewBag.Title = "Add Product";
}

<h2>Add Product</h2>
<form method="post" action="/Product/Create">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />
    <button type="submit">Add</button>
</form>

