﻿
@{
    ViewBag.Title = "Index";
}
<div>
    <form>
        <input name="search" id="txtsearch" />
        <button type="button" name="btnsearch" id="btnsearch">Search</button>
    </form>
    <button>New</button>
</div>
@{Html.RenderAction("ProductTable");}
@{Html.RenderAction("Create");}
<script>
    $("#btnsearch").click(function () {
        var searchtxt = $("#txtsearch").val();

        $.ajax({
            type:"post",
            url: "/Product/ProductTable",
            data: { search: searchtxt }

        }).done(function (data) {
            $("#tblContainer").html(data);
        }).fail(function (xmlHtpRequest,textStatus,errorThrown) {
            alert("Fail");
            })

    });
</script>


