﻿@model IEnumerable<Product>
@{
    ViewBag.Title = "ProductTable";
}
<div id="tblContainer">
    @{ 
        if (Model.Count()==0)
        {
            <p>No Records found.</p>
        }
        else
        {
            <table border="1" id="tblproduct">
                <thead>
                    <tr>
                        <td>Product Name</td>
                        <td>Category</td>
                        <td>Price</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Category</td>
                            <td>@item.Price</td>
                            <td>
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    
</div>

